<!--
Copyright (C) 2017 The OmniROM Project
Copyright (C) 2020 Bootleggers ROM
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bootleggers.shishufied.headers" >
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher" 
        android:label="Shishufied Headers">

        <activity
            android:name=".idk_cl0udybtlg"
            android:label="Cloudy Mood" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ig_fxckingmind"
            android:label="fxckingdeathwish's mind" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".idk_sumtim"
            android:label="Summertime" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_astauroraast"
            android:label="* Aurora Borealis * (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_chasinglightnings"
            android:label="Chasing Lightnings (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_childofdarkness"
            android:label="Child of Darkness (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_diffusedreams"
            android:label="Diffuse dreams (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_luminiscentbirds"
            android:label="Luminescent birds (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_pyre"
            android:label="pyre (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_sparklinginmypond"
            android:label="sparkling in my pond (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_starfishisland2"
            android:label="starfish island 2.2 (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
