<!--
Copyright (C) 2017 The OmniROM Project
Copyright (C) 2020 Bootleggers ROM
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bootleggers.shishufied.headers" >
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher" 
        android:label="Shishufied Headers">

        <activity
            android:name=".idk_cl0udybtlg"
            android:label="PH - Cloudy Mood" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ig_fxckingmind"
            android:label="PH - fxckingdeathwish's mind" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".idk_sumtim"
            android:label="PH - Summertime" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nataliasolaange"
            android:label="PH - nataliasolaange collection" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_llection"
            android:label="CL - Best of COLOURLovers.com" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test_accent"
            android:label="TEST - Accent" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bootleg_style"
            android:label="CL - Bootleggers Styled Headers" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_aestheticwalls_mix"
            android:label="CL - Memesis Aesthetic - Vaporwave" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_aestheticwalls_sj"
            android:label="CL - Memesis Aesthetic - Sacred Japan" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
